<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg" [clrWizardClosable]="false">

    <clr-wizard-title>Registro</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="navegarInicio()">Cancelar</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Atrás</clr-wizard-button>
    <clr-wizard-button [type]="'next'" (click)="obtenerClave()"  >Siguiente</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (click)="navegarInicio()">Fin</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="estaInvalidada()" >
        <ng-template clrPageTitle>Datos generales</ng-template>
 <form class="login">
        <section class="form-block">

                <div class="form-group">
                
                        <label>Clave del libro</label>
                        
                        <input  [(ngModel)]="miClave" name="miClave" id="validInput2" type="number" placeholder="Clave del libro" size="35" (blur)="obtenerClave()" >
                   
                    </div>
                   

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" placeholder="Nombre" size="35" (blur)="estaInvalidada() && ocultar()">
            </div>
            <div class="form-group">
                <label>Apellido Paterno</label>
                <input type="text" placeholder="Apellido Paterno" size="35">
            </div>
            <div  class="form-group">   
                    <label>Apellido Materno</label>
                <input type="text" placeholder="Apellido Materno" size="35">
            </div>    
            
          
        </section>

 </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Perfil</ng-template>
        <form>
               
        <section class="form-block">    
            
           <div class="form-group">       
              <label>Selecciona tu perfil</label>
                <div class="auth-source select">
                <select [(ngModel)]="perfil" name="perfil" id="perfil" (click)="verPerfil()">
                <option >Alumno</option>
                <option>Profesor</option>
                </select>
            </div>
        </div>
        <div class="form-group"[hidden]="noEsProfesor">
        <label>Clave</label>
            <input type="text" placeholder="Clave de profesor" size="35">
        </div>

        <div class="form-group">
            <label>Selecciona el turno</label>
            <div class="auth-source select">
                <select id="turno" name="turno" >
                <option>Matutino</option>
                    <option>Vespertino</option>
            </select>
            </div>
        </div>
    
        </section>
        </form>
    
           
    
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Autenticación</ng-template>
        ...
    </clr-wizard-page>
    <clr-wizard-page>
        <ng-template clrPageTitle>Confirmación</ng-template>
        
        Aqui datos de autenticacion


    </clr-wizard-page>
</clr-wizard>