
<div class="login-wrapper">
    <div class="login">
        <label class="title">
            <h3 class="welcome">Benvenido a</h3>
            Grupo Educativo GEER
            <h5 class="hint">Utiliza los datos de tu clave para ingresar</h5>
        </label>
        <div class="login-group">
            <div class="auth-source select">
                <select id="login-auth-source-1">
                    <option>Profesores</option>
                    <option>Administrador</option>
                </select>
            </div>
            <input class="username" [(ngModel)]="login" id="login_username" placeholder="Usuario">
            <input class="password" [(ngModel)]="password" id="login_password" placeholder="Contraseña">
            <!-- <div class="checkbox">
                <input type="checkbox" id="rememberme">
               <label for="rememberme">
                    Remember me
                </label>
            </div>
              
            <div class="error active">
                Invalid user name or password
            </div>
            -->
            <button (click)="navegar()" class="btn btn-primary">Ingresar</button>
           <!-- <a href="javascript://" class="signup">Sign up for a Company ID</a>-->
        </div>
    </div>
</div>