
<div class="login-wrapper">
    <div class="login">
        <label class="title">
            <h3 class="welcome">Benvenido a</h3>
            Grupo Educativo GEER
        </label>
        <div class="login-group">
            <div class="auth-source select">
                <select id="login-auth-source-1">
                    <option>Profesor</option>
                    <option>Alumno</option>
                </select>
            </div>
            <input class="username" [(ngModel)]="login" id="login_username" placeholder="Usuario">
            <input type="password" class="password" [(ngModel)]="password" id="login_password" placeholder="Contraseña">
            <!-- <div class="checkbox">
                <input type="checkbox" id="rememberme">
               <label for="rememberme">
                    Remember me
                </label>
            </div>
              -->
            <div [hidden]="estaOculta" class="error active">
                Usuario o contraseña inválidos
            </div>
            
            <button (click)="autenticar()" class="btn btn-primary">Ingresar</button>
           <!-- <a href="javascript://" class="signup">Sign up for a Company ID</a>-->
         <h5>Regístrate primero, si aún no te has registrado con tu clave del libro</h5>
        <button (click)="registrar()" class="btn btn-danger">Registrarse</button>
        </div>
    </div>
</div>